.App {
  text-align: center;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

/* .container-pass {
  padding-top:50px;
  margin: auto;
} */

.white-text {
  color: white !important;
}

.post-form {
  /* background: #17a2b8; */
  padding: 0.5rem;
}
